:root {
	--black: #1d1d1b;
	--white: #fffefd;
	accent-color: #e0c214;
}

* {
	box-sizing: border-box;
}

body {
	background: var(--black);
	color: var(--white);
	font-family: sans-serif;
	padding: 0;
	margin: 0;

	height: 100dvh;

	display: grid;
	grid-template-rows: auto 1fr;
	gap: 10px;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

header .header-actions {
	align-self: center;
	justify-self: flex-start;
	padding-left: 20px;
}

.header-actions button {
	background-color: var(--white);
	border-radius: 5px;
	border: 2px var(--white) solid;
}

.header-actions button:hover {
	cursor: pointer;
}

header .header-info {
	align-self: center;
	justify-self: center;
}

header .header-profile {
	align-self: center;
	justify-self: flex-end;
	padding-right: 20px;
}

main {
	display: grid;
}

.nav-tools {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* Tres columnas de igual tamaño */
	gap: 10px;
	padding: 4rem;
}

.nav-tools a {
	color: var(--white);
	text-decoration: none;
	width: 100%;
	height: 4rem;
	background-color: var(--black);
	border: 1px var(--white) solid;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 800;
	transition: all 0.3s ease-in-out;
}

.nav-tools a:hover {
	cursor: pointer;
	background-color: var(--white);
	color: var(--black);
	box-shadow: 0 0 10px var(--white);
}

/* Spinner */
.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 3px solid;
	border-color: #FFF #FFF transparent transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 3px solid;
	border-color: transparent transparent #FF3D00 #FF3D00;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-sizing: border-box;
	animation: rotationBack 0.5s linear infinite;
	transform-origin: center center;
}

.loader::before {
	width: 32px;
	height: 32px;
	border-color: #FFF #FFF transparent transparent;
	animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotationBack {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

/* Load Screen */
.load-screen {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100dvw;
	height: 100dvh;
	z-index: 9999;
}

/* Custom hx-indicator behavior */
.load-indicator {
	display: none;
}

.load-indicator .htmx-request {
	display: flex;
	justify-content: center;
	align-items: center;
}

.load-indicator.htmx-request {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* Form Login */

.form-login {
	justify-self: center;
	align-self: center;

	height: 20rem;
	width: 40rem;

	border: 2px var(--white) solid;
	border-radius: 15px;
	padding: 2rem;
	display: grid;
	grid-template-rows: 2fr 1fr;
}

.form-field {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.form-field label {
	border: 1px var(--white) solid;
	border-radius: 5px 0 0 5px;
	padding: 0.3rem;
	font-weight: bold;
}

.form-field input[type="password"] {
	outline: none;
	border: 2px var(--white) solid;
	border-radius: 0 5px 5px 0;
	padding: 0.3rem;
	font-weight: bold;
	width: 75%;
}

.form-field input[type="text"] {
	outline: none;
	border: 2px var(--white) solid;
	border-radius: 0 5px 5px 0;
	padding: 0.3rem;
	font-weight: bold;
	width: 100%;
}

.form-login button {
	width: 9rem;
	height: 3rem;
	align-self: center;
	justify-self: center;
	border: 2px var(--white) solid;
	background-color: var(--black);
	color: var(--white);
	font-weight: bold;
	border-radius: 15px;
	transition: all 0.3s ease-in-out;
}

.form-login button:hover {
	cursor: pointer;
	background-color: var(--white);
	color: var(--black);
}

.form-login button:active {
	transform: scale(0.95);
}

/* Form Instance Change */
.form-change-instance {
	border: 2px var(--white) solid;
	border-radius: 15px;
	padding: 2rem;

	display: grid;
	grid-template-rows: auto;

	width: 40rem;
	height: 30rem;

	justify-self: center;
	align-self: center;
	gap: 5px;
}

.form-field-col {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
}

.form-field-col label {
	border: 1px var(--white) solid;
	border-radius: 5px;
	padding: 0.3rem;
	font-weight: bold;

	display: flex;
	justify-content: space-between;
}


.form-group {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: fit-content;
	align-items: center;
	gap: 20px;
}

.form-field-col-textarea {
	display: grid;
	grid-template-rows: auto 1fr;
}

.form-field-col-textarea label {
	border: 1px var(--white) solid;
	background-color: var(--black);
	color: var(--white);
	font-size: large;
	font-weight: bold;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	padding: 5px;
}

.form-field-col-textarea textarea {
	outline: none;
	resize: none;
	border: 1px var(--white) solid;
	border-radius: 0px 0px 10px 10px;
	color: var(--black);
	font-weight: 500;
	padding: 5px;
}

.form-action {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-items: center;
}

.form-action button,
.form-action a {
	width: fit-content;
	height: 3rem;

	padding: 10px;

	border: 2px var(--white) solid;
	border-radius: 15px;

	background-color: var(--black);

	color: var(--white);
	font-weight: bold;
	font-size: medium;

	transition: all 0.3s ease-in-out;
}

.form-action a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-action button:hover,
.form-action a:hover {
	cursor: pointer;
	background-color: var(--white);
	color: var(--black);
}

.form-action button:active,
.form-action a:active {
	transform: scale(0.95);
}