<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<title>Home</title>
</head>

<body>
	<main class="homepage-container">
		<h1>Infinitools</h1>
		<button hx-post="/login/logout" hx-swap="none">LOGOUT</button>
	</main>
</body>

</html>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>