<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form hx-post="/login/auth" hx-ext='json-enc' hx-target="#username" hx-swap="innerHTML">
        <input type="text" class="form-control" name="Username">
        <input type="password" class="form-control" name="Password">
        <button>Enter</button>
    </form>

    <p id="username"></p>
</body>
</html>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>