<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="htmx-config" content='{"includeIndicatorStyles": false}'>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <title>Login</title>
</head>

<body>
  <header>
    <div class="header-actions">
    </div>
    <div class="header-info">
      <h1>Login Page</h1>
    </div>
    <div class="header-profile">
    </div>
  </header>
  <main>
    <form class="form-login" hx-post="/login" hx-boost="true" hx-swap="none" hx-indicator=".load-indicator">
      <div class="form-field">
        <label for="token">Githun Token</label>
        <input type="password" class="form-control" name="token" id="token">
      </div>
      <button>LOGIN</button>
    </form>
  </main>
  <div class="load-screen load-indicator"><span class="loader"></span></div>
</body>

</html>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>